input.currency {
    text-align: right;
    padding-right: 15px;
}

td.currency {
    text-align: right;
    padding-right: 15px;
}

th.currency {
    text-align: right;
    padding-right: 15px;
}

span.calendar { cursor: pointer; cursor: hand; }

span.list { cursor: pointer; cursor: hand; }

thead th {
  color: #FFF;
background-color: #337AB7;
border-color: #337AB7;
  
}

tbody tr:nth-child(even) {
  background-color: #EEEEEE;
}


.datepicker{z-index:2000 !important;}
.typeahead{z-index:1002 !important;}


.table>tbody>tr:hover>td, .table>tbody>tr:hover>th {
color: #31708F;
background-color: #D9EDF7;
border-color: #BCE8F1;
  cursor: pointer; cursor: hand;
}

a.list-group-item:hover{
	color: #FFF;
background-color: #337AB7;
border-color: #2E6DA4;
  cursor: pointer; cursor: hand;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fluid-height {
	background: url('../img/500.jpg') no-repeat center center scroll;
    padding: 100px 0;
}

.image-bg-fixed-height {
	background: url('../img/500.jpg') no-repeat center center scroll;
    height: 450px;
}

.img-center {
	margin: 0 auto;
}